docker-compose : time="2026-02-05T09:31:59+07:00" level=warning msg="D:\\Docker 
Backup\\announcement-dashboard\\docker-compose.yml: the attribute `version` is obsolete, it will be ignored, please 
remove it to avoid potential confusion"
At D:\Docker Backup\announcement-dashboard\update.ps1:32 char:5
+     docker-compose exec -T db pg_dump -U postgres announcement_db > $ ...
+     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (time="2026-02-0...tial confusion":String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
--
-- PostgreSQL database dump
--

\restrict ORj6AIlO8K3cIpR0o5w8MRTkXneS0MDGTUdQWGfXoBTLNQAHiik7Kwc2PSxAuJg

-- Dumped from database version 16.11
-- Dumped by pg_dump version 16.11

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: ApprovalStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."ApprovalStatus" AS ENUM (
    'PENDING',
    'APPROVED',
    'REJECTED',
    'CANCELLED'
);


ALTER TYPE public."ApprovalStatus" OWNER TO postgres;

--
-- Name: ChangeType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."ChangeType" AS ENUM (
    'CREATE',
    'EDIT',
    'PUBLISH',
    'UNPUBLISH',
    'RESTORE'
);


ALTER TYPE public."ChangeType" OWNER TO postgres;

--
-- Name: CommentStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."CommentStatus" AS ENUM (
    'PENDING',
    'APPROVED',
    'REJECTED',
    'SPAM'
);


ALTER TYPE public."CommentStatus" OWNER TO postgres;

--
-- Name: EmailStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."EmailStatus" AS ENUM (
    'PENDING',
    'SENT',
    'FAILED'
);


ALTER TYPE public."EmailStatus" OWNER TO postgres;

--
-- Name: EmailTemplateType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."EmailTemplateType" AS ENUM (
    'NEWSLETTER',
    'NEW_ARTICLE',
    'WELCOME',
    'UNSUBSCRIBE_CONFIRM'
);


ALTER TYPE public."EmailTemplateType" OWNER TO postgres;

--
-- Name: LogSeverity; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."LogSeverity" AS ENUM (
    'INFO',
    'WARNING',
    'ERROR'
);


ALTER TYPE public."LogSeverity" OWNER TO postgres;

--
-- Name: Role; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."Role" AS ENUM (
    'ADMIN',
    'EDITOR'
);


ALTER TYPE public."Role" OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: activity_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.activity_logs (
    id text NOT NULL,
    action text NOT NULL,
    "entityType" text NOT NULL,
    "entityId" text NOT NULL,
    changes text,
    "ipAddress" text,
    "userAgent" text,
    severity public."LogSeverity" DEFAULT 'INFO'::public."LogSeverity" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "userId" text NOT NULL
);


ALTER TABLE public.activity_logs OWNER TO postgres;

--
-- Name: analytics; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.analytics (
    id text NOT NULL,
    "announcementId" text,
    "pageViews" integer DEFAULT 1 NOT NULL,
    "uniqueVisitors" integer DEFAULT 1 NOT NULL,
    date date DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.analytics OWNER TO postgres;

--
-- Name: announcement_revisions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.announcement_revisions (
    id text NOT NULL,
    "announcementId" text NOT NULL,
    title text NOT NULL,
    content text NOT NULL,
    excerpt text,
    "imagePath" text,
    version integer NOT NULL,
    "changeType" public."ChangeType" DEFAULT 'EDIT'::public."ChangeType" NOT NULL,
    "changeSummary" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "authorId" text NOT NULL
);


ALTER TABLE public.announcement_revisions OWNER TO postgres;

--
-- Name: announcements; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.announcements (
    id text NOT NULL,
    title text NOT NULL,
    slug text NOT NULL,
    excerpt text,
    content text NOT NULL,
    "imagePath" text,
    "videoPath" text,
    "videoType" text,
    "youtubeUrl" text,
    "isPinned" boolean DEFAULT false NOT NULL,
    "isHero" boolean DEFAULT false NOT NULL,
    "isPublished" boolean DEFAULT false NOT NULL,
    "scheduledAt" timestamp(3) without time zone,
    "takedownAt" timestamp(3) without time zone,
    "viewCount" integer DEFAULT 0 NOT NULL,
    "wordCount" integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "draftContent" text,
    "draftUpdatedAt" timestamp(3) without time zone,
    "categoryId" text NOT NULL,
    "authorId" text
);


ALTER TABLE public.announcements OWNER TO postgres;

--
-- Name: approval_requests; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.approval_requests (
    id text NOT NULL,
    "announcementId" text NOT NULL,
    status public."ApprovalStatus" DEFAULT 'PENDING'::public."ApprovalStatus" NOT NULL,
    "submittedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "reviewedAt" timestamp(3) without time zone,
    "submitterId" text NOT NULL,
    "reviewerId" text,
    "reviewNote" text
);


ALTER TABLE public.approval_requests OWNER TO postgres;

--
-- Name: categories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.categories (
    id text NOT NULL,
    name text NOT NULL,
    slug text NOT NULL,
    color text DEFAULT '#ED1C24'::text NOT NULL,
    "order" integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.categories OWNER TO postgres;

--
-- Name: comments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.comments (
    id text NOT NULL,
    "announcementId" text NOT NULL,
    "authorName" text NOT NULL,
    "authorEmail" text,
    content text NOT NULL,
    status public."CommentStatus" DEFAULT 'PENDING'::public."CommentStatus" NOT NULL,
    "moderatedAt" timestamp(3) without time zone,
    "moderatorId" text,
    "parentId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.comments OWNER TO postgres;

--
-- Name: email_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.email_logs (
    id text NOT NULL,
    "recipientEmail" text NOT NULL,
    "recipientName" text,
    "templateId" text,
    "templateName" text NOT NULL,
    subject text NOT NULL,
    status public."EmailStatus" DEFAULT 'PENDING'::public."EmailStatus" NOT NULL,
    "sentAt" timestamp(3) without time zone,
    "failedAt" timestamp(3) without time zone,
    "errorMessage" text,
    "announcementId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.email_logs OWNER TO postgres;

--
-- Name: email_settings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.email_settings (
    id integer DEFAULT 1 NOT NULL,
    "smtpHost" text DEFAULT 'localhost'::text NOT NULL,
    "smtpPort" integer DEFAULT 25 NOT NULL,
    "smtpSecure" boolean DEFAULT false NOT NULL,
    "smtpUser" text,
    "smtpPass" text,
    "fromName" text DEFAULT 'Santos Jaya Abadi News'::text NOT NULL,
    "fromEmail" text DEFAULT 'news@santosjayaabadi.co.id'::text NOT NULL,
    "replyToEmail" text,
    "autoSendNewArticle" boolean DEFAULT false NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.email_settings OWNER TO postgres;

--
-- Name: email_templates; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.email_templates (
    id text NOT NULL,
    name text NOT NULL,
    slug text NOT NULL,
    subject text NOT NULL,
    "htmlContent" text NOT NULL,
    "textContent" text,
    variables jsonb,
    type public."EmailTemplateType" NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.email_templates OWNER TO postgres;

--
-- Name: media_library; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.media_library (
    id text NOT NULL,
    filename text NOT NULL,
    url text NOT NULL,
    "mimeType" text NOT NULL,
    size integer NOT NULL,
    alt text,
    "uploadedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.media_library OWNER TO postgres;

--
-- Name: newsletter_subscribers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.newsletter_subscribers (
    id text NOT NULL,
    email text NOT NULL,
    name text,
    "isActive" boolean DEFAULT true NOT NULL,
    "subscribedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "unsubscribedAt" timestamp(3) without time zone,
    "unsubscribeToken" text NOT NULL,
    source text
);


ALTER TABLE public.newsletter_subscribers OWNER TO postgres;

--
-- Name: settings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.settings (
    id integer DEFAULT 1 NOT NULL,
    "siteName" text DEFAULT 'Santos Jaya Abadi'::text NOT NULL,
    "heroTitle" text DEFAULT 'Berita & Pengumuman'::text NOT NULL,
    "heroSubtitle" text DEFAULT 'Informasi terbaru dari perusahaan'::text NOT NULL,
    "heroImage" text,
    "heroVideoPath" text,
    "heroVideoType" text,
    "heroYoutubeUrl" text,
    "logoPath" text,
    "primaryColor" text DEFAULT '#ED1C24'::text NOT NULL,
    "aboutText" text DEFAULT 'Didirikan tahun 1979, PT. Santos Jaya Abadi adalah salah satu perusahaan roasting kopi terbesar di Asia Tenggara dengan merek ikonik Kapal Api.'::text NOT NULL,
    "instagramUrl" text,
    "linkedinUrl" text,
    "facebookUrl" text,
    "twitterUrl" text,
    "youtubeUrl" text,
    "commentAutoApprove" boolean DEFAULT false NOT NULL,
    "commentRequireEmail" boolean DEFAULT false NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.settings OWNER TO postgres;

--
-- Name: user_sessions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_sessions (
    id text NOT NULL,
    "userId" text NOT NULL,
    "sessionToken" text NOT NULL,
    "ipAddress" text,
    "userAgent" text,
    "deviceInfo" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "lastActiveAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "expiresAt" timestamp(3) without time zone NOT NULL,
    "isRevoked" boolean DEFAULT false NOT NULL
);


ALTER TABLE public.user_sessions OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id text NOT NULL,
    email text NOT NULL,
    "passwordHash" text NOT NULL,
    name text NOT NULL,
    avatar text,
    role public."Role" DEFAULT 'ADMIN'::public."Role" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Data for Name: activity_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: analytics; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.analytics (id, "announcementId", "pageViews", "uniqueVisitors", date) FROM stdin;
\.


--
-- Data for Name: announcement_revisions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: announcements; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: approval_requests; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.approval_requests (id, "announcementId", status, "submittedAt", "reviewedAt", "submitterId", "reviewerId", "reviewNote") FROM stdin;
\.


--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.categories (id, name, slug, color, "order", "createdAt") FROM stdin;
cmjtgb08300008q39v2nq235x	ICT	ict	#2e89ff	1	2025-12-31 03:23:00.963
\.


--
-- Data for Name: comments; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: email_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.email_logs (id, "recipientEmail", "recipientName", "templateId", "templateName", subject, status, "sentAt", "failedAt", "errorMessage", "announcementId", "createdAt") FROM stdin;
\.


--
-- Data for Name: email_settings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.email_settings (id, "smtpHost", "smtpPort", "smtpSecure", "smtpUser", "smtpPass", "fromName", "fromEmail", "replyToEmail", "autoSendNewArticle", "updatedAt") FROM stdin;
1	localhost	25	f	\N	\N	Santos Jaya Abadi News	news@santosjayaabadi.co.id	\N	f	2026-01-07 14:23:09.06
\.


--
-- Data for Name: email_templates; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.email_templates (id, name, slug, subject, "htmlContent", "textContent", variables, type, "isActive", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: media_library; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: newsletter_subscribers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.newsletter_subscribers (id, email, name, "isActive", "subscribedAt", "unsubscribedAt", "unsubscribeToken", source) FROM stdin;
cml8oy7lb00066p63dwzwd6e2	dwica57@gmail.com	\N	t	2026-02-05 00:01:15.504	\N	cml8oy7lb00076p63ce8swshb	website
\.


--
-- Data for Name: settings; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: user_sessions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (id, email, "passwordHash", name, avatar, role, "createdAt", "updatedAt") FROM stdin;
cmk0hb83p0007wv79kr4v4lov	yohanes.octavian@kapalapi.co.id	$2b$10$vFYf.X1zvoYEaYoqmy2d8.aXRpWnlF7/vsqbVSOYYEtXf9ndnndMa	Vian	\N	ADMIN	2026-01-05 01:25:34.022	2026-01-08 01:48:33.73
admin-001	admin@example.com	$2b$12$r5MtMNfN73M/qCn.2wi.8eAes1Q53KHANSP9XOjTG/Wqc7I/3CxDe	Vian	\N	ADMIN	2025-12-31 01:22:20.939	2026-01-22 07:06:28.929
\.


--
-- Name: activity_logs activity_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activity_logs
    ADD CONSTRAINT activity_logs_pkey PRIMARY KEY (id);


--
-- Name: analytics analytics_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.analytics
    ADD CONSTRAINT analytics_pkey PRIMARY KEY (id);


--
-- Name: announcement_revisions announcement_revisions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.announcement_revisions
    ADD CONSTRAINT announcement_revisions_pkey PRIMARY KEY (id);


--
-- Name: announcements announcements_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.announcements
    ADD CONSTRAINT announcements_pkey PRIMARY KEY (id);


--
-- Name: approval_requests approval_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.approval_requests
    ADD CONSTRAINT approval_requests_pkey PRIMARY KEY (id);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (id);


--
-- Name: comments comments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT comments_pkey PRIMARY KEY (id);


--
-- Name: email_logs email_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.email_logs
    ADD CONSTRAINT email_logs_pkey PRIMARY KEY (id);


--
-- Name: email_settings email_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.email_settings
    ADD CONSTRAINT email_settings_pkey PRIMARY KEY (id);


--
-- Name: email_templates email_templates_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.email_templates
    ADD CONSTRAINT email_templates_pkey PRIMARY KEY (id);


--
-- Name: media_library media_library_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.media_library
    ADD CONSTRAINT media_library_pkey PRIMARY KEY (id);


--
-- Name: newsletter_subscribers newsletter_subscribers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.newsletter_subscribers
    ADD CONSTRAINT newsletter_subscribers_pkey PRIMARY KEY (id);


--
-- Name: settings settings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.settings
    ADD CONSTRAINT settings_pkey PRIMARY KEY (id);


--
-- Name: user_sessions user_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_sessions
    ADD CONSTRAINT user_sessions_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: activity_logs_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "activity_logs_createdAt_idx" ON public.activity_logs USING btree ("createdAt");


--
-- Name: activity_logs_entityType_entityId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "activity_logs_entityType_entityId_idx" ON public.activity_logs USING btree ("entityType", "entityId");


--
-- Name: activity_logs_severity_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX activity_logs_severity_idx ON public.activity_logs USING btree (severity);


--
-- Name: analytics_announcementId_date_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "analytics_announcementId_date_key" ON public.analytics USING btree ("announcementId", date);


--
-- Name: analytics_date_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX analytics_date_idx ON public.analytics USING btree (date);


--
-- Name: announcement_revisions_announcementId_version_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "announcement_revisions_announcementId_version_idx" ON public.announcement_revisions USING btree ("announcementId", version);


--
-- Name: announcement_revisions_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "announcement_revisions_createdAt_idx" ON public.announcement_revisions USING btree ("createdAt");


--
-- Name: announcements_categoryId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "announcements_categoryId_idx" ON public.announcements USING btree ("categoryId");


--
-- Name: announcements_isPublished_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "announcements_isPublished_createdAt_idx" ON public.announcements USING btree ("isPublished", "createdAt");


--
-- Name: announcements_isPublished_isHero_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "announcements_isPublished_isHero_idx" ON public.announcements USING btree ("isPublished", "isHero");


--
-- Name: announcements_isPublished_isPinned_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "announcements_isPublished_isPinned_idx" ON public.announcements USING btree ("isPublished", "isPinned");


--
-- Name: announcements_scheduledAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "announcements_scheduledAt_idx" ON public.announcements USING btree ("scheduledAt");


--
-- Name: announcements_slug_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX announcements_slug_key ON public.announcements USING btree (slug);


--
-- Name: announcements_takedownAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "announcements_takedownAt_idx" ON public.announcements USING btree ("takedownAt");


--
-- Name: approval_requests_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX approval_requests_status_idx ON public.approval_requests USING btree (status);


--
-- Name: approval_requests_submittedAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "approval_requests_submittedAt_idx" ON public.approval_requests USING btree ("submittedAt");


--
-- Name: categories_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX categories_name_key ON public.categories USING btree (name);


--
-- Name: categories_slug_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX categories_slug_key ON public.categories USING btree (slug);


--
-- Name: comments_announcementId_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "comments_announcementId_status_idx" ON public.comments USING btree ("announcementId", status);


--
-- Name: comments_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "comments_createdAt_idx" ON public.comments USING btree ("createdAt");


--
-- Name: email_logs_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "email_logs_createdAt_idx" ON public.email_logs USING btree ("createdAt");


--
-- Name: email_logs_recipientEmail_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "email_logs_recipientEmail_idx" ON public.email_logs USING btree ("recipientEmail");


--
-- Name: email_logs_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX email_logs_status_idx ON public.email_logs USING btree (status);


--
-- Name: email_templates_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX email_templates_name_key ON public.email_templates USING btree (name);


--
-- Name: email_templates_slug_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX email_templates_slug_key ON public.email_templates USING btree (slug);


--
-- Name: media_library_uploadedAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "media_library_uploadedAt_idx" ON public.media_library USING btree ("uploadedAt");


--
-- Name: newsletter_subscribers_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX newsletter_subscribers_email_key ON public.newsletter_subscribers USING btree (email);


--
-- Name: newsletter_subscribers_isActive_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "newsletter_subscribers_isActive_idx" ON public.newsletter_subscribers USING btree ("isActive");


--
-- Name: newsletter_subscribers_unsubscribeToken_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "newsletter_subscribers_unsubscribeToken_key" ON public.newsletter_subscribers USING btree ("unsubscribeToken");


--
-- Name: user_sessions_sessionToken_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "user_sessions_sessionToken_idx" ON public.user_sessions USING btree ("sessionToken");


--
-- Name: user_sessions_sessionToken_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "user_sessions_sessionToken_key" ON public.user_sessions USING btree ("sessionToken");


--
-- Name: user_sessions_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "user_sessions_userId_idx" ON public.user_sessions USING btree ("userId");


--
-- Name: users_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX users_email_key ON public.users USING btree (email);


--
-- Name: activity_logs activity_logs_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activity_logs
    ADD CONSTRAINT "activity_logs_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: analytics analytics_announcementId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.analytics
    ADD CONSTRAINT "analytics_announcementId_fkey" FOREIGN KEY ("announcementId") REFERENCES public.announcements(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: announcement_revisions announcement_revisions_announcementId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.announcement_revisions
    ADD CONSTRAINT "announcement_revisions_announcementId_fkey" FOREIGN KEY ("announcementId") REFERENCES public.announcements(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: announcement_revisions announcement_revisions_authorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.announcement_revisions
    ADD CONSTRAINT "announcement_revisions_authorId_fkey" FOREIGN KEY ("authorId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: announcements announcements_authorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.announcements
    ADD CONSTRAINT "announcements_authorId_fkey" FOREIGN KEY ("authorId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: announcements announcements_categoryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.announcements
    ADD CONSTRAINT "announcements_categoryId_fkey" FOREIGN KEY ("categoryId") REFERENCES public.categories(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: approval_requests approval_requests_announcementId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.approval_requests
    ADD CONSTRAINT "approval_requests_announcementId_fkey" FOREIGN KEY ("announcementId") REFERENCES public.announcements(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: approval_requests approval_requests_reviewerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.approval_requests
    ADD CONSTRAINT "approval_requests_reviewerId_fkey" FOREIGN KEY ("reviewerId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: approval_requests approval_requests_submitterId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.approval_requests
    ADD CONSTRAINT "approval_requests_submitterId_fkey" FOREIGN KEY ("submitterId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: comments comments_announcementId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT "comments_announcementId_fkey" FOREIGN KEY ("announcementId") REFERENCES public.announcements(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: comments comments_moderatorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT "comments_moderatorId_fkey" FOREIGN KEY ("moderatorId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: comments comments_parentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT "comments_parentId_fkey" FOREIGN KEY ("parentId") REFERENCES public.comments(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: user_sessions user_sessions_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_sessions
    ADD CONSTRAINT "user_sessions_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict ORj6AIlO8K3cIpR0o5w8MRTkXneS0MDGTUdQWGfXoBTLNQAHiik7Kwc2PSxAuJg

